<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="mode" default="play" />
    <!-- default 10Hz, the same as LiDAR -->
    <arg name="fps" default="10" />

    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/data/2011_09_26/2011_09_26_drive_0001_sync"/>-->
    <arg name="kitti_data_path" default="$(find kitti_ros)/data/2011_09_26/2011_09_26_drive_0005_sync"/>
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/data/2011_09_26/2011_09_26_drive_0060_sync"/>-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/data/2011_09_26/2011_09_26_drive_0117_sync"/>-->

    <!-- Keyboard listener is based on Linux input subsystem -->
    <arg name="keyboard_file" default="/dev/input/event3" />

    <!-- load -->
    <node name="kitti_player" pkg="kitti_ros" type="kitti_player.py" output="screen">
        <param name="mode" value="$(arg mode)"/>
        <param name="fps" value="$(arg fps)"/>
        <param name="kitti_data_path" value="$(arg kitti_data_path)"/>
        <param name="keyboard_file" value="$(arg keyboard_file)"/>
    </node>


</launch>
